torch==2.2.2
transformers==4.43.0
accelerate==1.10.1
sentence-transformers==5.1.2
sentencepiece==0.2.1

faiss-cpu==1.7.4
chromadb==1.4.1

langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.80
langchain-ollama==0.3.10
langchain-text-splitters==0.3.11
ollama==0.6.1

numpy==1.24.4
pandas==2.3.3
scipy
scikit-learn
joblib
tqdm
matplotlib
streamlit
nltk
openpyxl
